<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<aside th:fragment="asideFragment">
    <nav>
        <ul>
            <li class="plus" aside_d1="migrations">
                <a href="javascript:" class="dep01">Migrations</a>
                <ul class="sub">
                    <li><a onclick="movePage(URI_CP_ACCOUNTS_LIST)" aside_d2="accounts">Accounts</a></li>
                    <li><a onclick="movePage(URI_CP_MIGRATIONS_LIST)" aside_d2="migrations">Migrations</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</aside>

<aside th:fragment="globalAsideFragment">
    <nav>
        <ul>
            <li>
                <a href="#none" class="dep01">Migrations</a>
                <ul class="sub">
                </ul>
            </li>
            <li class="plus">
                <a href="javascript:" class="dep01">Migrations</a>
                <ul class="sub">
                    <li><a onclick="movePage(URI_CP_ACCOUNTS_LIST)" >Accounts</a></li>
                    <li><a onclick="movePage(URI_CP_MIGRATIONS_LIST)" >Migrations</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</aside>

</html>